<ion-view hide-nav-bar="true">
  <ion-content class="padding">
  <div class="row">
    <div class="col col-25"></div>
    <div class="col col-50">
      <img class="ci-logo" src="/img/intro.png">
    </div>
    <div class="col col-25"></div>
  </div>

  <div class="row">
    <div class="col col-25"></div>
    <div class="col col-50">
      <h2 class="ci-h2--center">Our App</h2>
    </div>
    <div class="col col-25"></div>
  </div>

  <div class="row">
    <div class="col col-25"></div>
      <div class="col col-50">
        <div class="list list--noborder">
          <a class="item" href="/#/step/2-onboarding">
            English
          </a>
          <a class="item" href="/#/step/2-onboarding">
            Deutsch
          </a>
          <a class="item" href="/step/2-onboarding">
            لعربية 
          </a>
          <a class="item" href="/step/2-onboarding">
            Türk
          </a>
        </div>
      </div>
      <div class="col col-25"></div>
    </div>
  </ion-content>
</ion-view>
