

<ion-view hide-nav-bar="false" >
  <ion-content class="padding">
    <h2 class="ci-h2--center">Tap on the topic related to you</h2>

    <input type="search" ng-model="search" placeholder="Search for items!" /> 
    <ul class="list" filter-list="search">
      <li><a class="item" href="/#/tab/account">
        Get bank account
      </a></li><li>
      <a class="item" href="/#/step/4-required-information">
        To register
      </a></li><li>
      <a class="item" href="/#/step/4-required-information">
        To register Job center
      </a></li><li>
      <a class="item" href="/#/step/4-required-information">
        Flet the right destination  on the site
      </a></li><li>
      <a class="item" href="/#/step/4-required-information">
        Flet the right destination  on the site
      </a></li><li>
      <a class="item" href="/#/step/4-required-information">
        Get bank account
      </a></li><li>
      <a class="item" href="/#/step/4-required-information">
        To register
      </a></li><li>
      <a class="item" href="/#/step/4-required-information">
        To register Job center
      </a></li><li>
      <a class="item" href="/#/step/4-required-information">
        Flet the right destination  on the site
      </a></li><li>
      <a class="item" href="/#/step/4-required-information">
        Flet the right destination  on the site
      </a></li>
    </ul>
  </ion-content>
</ion-view>
