

<ion-view hide-nav-bar="false" >
  <ion-content class="padding">
    <h2 class="ci-h2--center">Tap on the topic related to you</h2>
    <div class="list">
      <a class="item" href="/#/tab/account">
        Get bank account
      </a>
      <a class="item" href="/#/step/4-required-information">
        To register
      </a>
      <a class="item" href="/#/step/4-required-information">
        To register Job center
      </a>
      <a class="item" href="/#/step/4-required-information">
        Flet the right destination  on the site
      </a>
      <a class="item" href="/#/step/4-required-information">
        Flet the right destination  on the site
      </a>
      <a class="item" href="/#/step/4-required-information">
        Get bank account
      </a>
      <a class="item" href="/#/step/4-required-information">
        To register
      </a>
      <a class="item" href="/#/step/4-required-information">
        To register Job center
      </a>
      <a class="item" href="/#/step/4-required-information">
        Flet the right destination  on the site
      </a>
      <a class="item" href="/#/step/4-required-information">
        Flet the right destination  on the site
      </a>
    </div>
  </ion-content>
</ion-view>
