<ion-view hide-nav-bar="false" >
  <ion-content class="padding">
    <div class="list">

      <!-- input: nationality -->
      <label class="item item-input item-select">
        <div class="input-label">
          Nationality
        </div>
        <select>
          <option>German</option>
          <option selected>English</option>
          <option>Arabic</option>
        </select>
      </label>

      <!-- input: Birthday -->
      <label class="item item-input">
        <span class="input-label">Birthday</span>
        <input type="date">
      </label>

      <!-- input: city -->
      <label class="item item-input item-select">
        <div class="input-label">
          Which City are you now?
        </div>
        <select>
          <option>Berlin</option>
          <option selected>Munich</option>
          <option>Damaskus</option>
        </select>
      </label>

      <!-- input: status -->
      <label class="item item-input item-select">
        <div class="input-label">
          Your status?
        </div>
        <select>
          <option>Local</option>
          <option selected>Refugee</option>
        </select>
      </label>
    </div>
    <a href="/#/step/5-required-information" class="button button-full  button-stable button-stable--border">Next</a>
        


  
  </ion-content>
</ion-view>
