

<ion-view hide-nav-bar="false" >
  <ion-content class="padding">
    <div class="loader" style="width: {{progressPercent}}%;">
      <p>{{progressPercent}}%</p>
    </div>
    <div class="row responsive-md">
      <div class="col col-25"></div>
      <div class="col col-50">
        <p>Do you already have anmeldung?</p>
        <p>Having a abmeldung if required to get the bank account. Top on no if you have not it.</p>
        <p>We will creat it together.</p>
        <a href="/#/step/6-yes-required-information" class="button button-full button-stable button-stable--border">Yes, I have Anmeldung</a>
        <a href="/#/step/6-no-required-information" class="button button-full button-stable button-stable--border">No, I haven't Anmeldung</a>
      </div>
      <div class="col col-25"></div>
    </div
  </ion-content>
</ion-view>
