

<ion-view hide-nav-bar="false" >
  <ion-content class="padding">
    <div class="loader" style="width: {{progressPercent}}%;">
      <p>{{progressPercent}}%</p>
    </div>
    <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="John">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Second Name</span>
    <input type="text" placeholder="Doe">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Current Address(street, number, floor)</span>
    <input type="text" placeholder="text">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Previous Address(postal code, country, city)</span>
    <input type="text" placeholder="text">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Previous Address(street, number, floor)</span>
    <input type="text" placeholder="text">
  </label>
</div>
<a href="/#/step/7-yes-required-information" class="button button-full  button-stable button-stable--border">Next</a>
  </ion-content>
</ion-view>
