

<ion-view hide-nav-bar="false" >
  <ion-content class="padding">
    <div class="loader" style="width: {{progressPercent}}%;">
      <p>{{progressPercent}}%</p>
    </div>
    <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Passport issuing authority</span>
    <input type="text" placeholder="Text Field">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Passport date of issue</span>
    <input type="date" placeholder="Datetime field">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Passport date of expiry</span>
    <input type="date" placeholder="Datetime field">
  </label>
</div>
<a href="/#/step/8-required-information" class="button button-full  button-stable button-stable--border">Next</a>
  </ion-content>
</ion-view>
