

<ion-view hide-nav-bar="false" >
  <ion-content class="padding">
  <div class="row responsive-md">
    <div class="col col-100">
  <p>Now you achieve the getting of bank account.</p>
</div>
</div>
<div class="row">
    <div class="col col-25"></div>
    <div class="col col-50">

  <p class="thumbsup"><i class="icon ion-thumbsup"></i></p>

  </div>
  <div class="col col-25"></div>
</div>
  <div class="row responsive-md">
    <div class="col col-100">
<p>Take your ID, Anmeldung, Photo and got to the following adress:</p>
      </div>
      <div class="col col-100">
<p>Berlin, Potsdam</p>
      </div>
    </div>

<a hXref="/#/step/8-required-information" class="button button-full  button-stable button-stable--border"  ng-click="login()">Finish</a>
  </ion-content>
</ion-view>
