<div class="adic-modal">
<ion-modal-view class="ci-modal">
  
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="row">
    <div class="col col-100">
        Great, you made it! Do you want to save this information to the next time?
    </div>
  </div>
  <div class="row">
    <div class="col col-100">
        <a href="#">Read more</a>
    </div>
  </div>
  <div class="row">
    <div class="col col-50">
        <a href="#" class="button button-full  button-stable button-stable--border" ng-click="closeLogin()">NO</a>
    </div>
    <div class="col col-50">
        <a href="#" class="button button-full  button-stable button-stable--border">YES</a>
    </div>
  </div>
    </form>
  </ion-content>
</ion-modal-view>
</div>